# Database Tests

In [9]:
import psycopg
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

load_dotenv()

connection = psycopg.connect(
    user=os.getenv("user"),
    password=os.getenv("password"),
    host=os.getenv("host"),
    port=os.getenv("port"),
    dbname=os.getenv("dbname")
)
cursor = connection.cursor()
print("Connected!")

conn_str = (
    f"postgresql+psycopg://{os.getenv('user')}:{os.getenv('password')}"
    f"@{os.getenv('host')}:{os.getenv('port')}/{os.getenv('dbname')}"
)
engine = create_engine(conn_str)

Connected!

In [2]:
# List all tables
cursor.execute("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name;
""")
for table in cursor.fetchall():
    print(table[0])

assinaturas_bazipass
auth_group
auth_group_permissions
auth_permission
auth_user
auth_user_groups
auth_user_user_permissions
authtoken_token
bazipass_bazipassenrollmentevent
bazipass_bazipassplan
bazipass_customerbazipass
bazipass_parcelas
bazipass_parcelas_alocacoes
bling_credentials
bling_oauth_states
bling_request_queue
bling_tokens
campaigns_campaign
campaigns_offer
canais_venda
catalogs_categoryrule
catalogs_categorytableversion
catalogs_skucategory
clientes
cores_produtos
cupom_historico_classificacao
cupons_giftcard
cupons_indicacao
cupons_ledger
depositos
django_admin_log
django_content_type
django_migrations
django_session
estoque_rupturas
estoques
estoques_depositos
formas_pagamento
indicacoes
indications_plan
ledger_allocation
ledger_balance
ledger_customer
ledger_lot
ledger_transaction
log_pedidos_vendas
lojas
pdv_carrinhos
pdv_desejados
pdv_desejados_por_documento
produtos
temp_clientes_manipulacao_cupons
temp_clientes_shopify
token_blacklist_blacklistedtoken
token_blacklist_outstandingtoken
v_bazipass_ranking_vendedores
v_bazipass_sales
v_clientes_churn
v_general_sales
v_general_sales_v1
v_vendas_por_area_mes
v_vendas_por_loja_mes
v_vendas_por_loja_mes_v1
v_vendas_por_vendedor_mes
v_vendas_total_mes
vendas
vendas_itens
vendas_parcelas
vendedores
vw_bazicash_expiring
vw_bazipass_parcelas_creditos
vw_bazipass_ranking_vendedores
vw_bazipass_sales
vw_bazipass_sales_v1
vw_bazipass_sales_v2
vw_bazipass_status_clientes
vw_bazipass_status_clientes_v1
vw_bazipass_status_clientes_v2
vw_bazipass_vendas_mensal_vendedor
vw_bazipass_vendas_mensal_vendedor_v1
vw_clientes_ebooks
vw_clientes_imbuscaveis
vw_ebooks
vw_estoque_por_produto
vw_estoque_por_produto_v1
vw_estoque_por_produto_v3
vw_estoque_por_produto_v4
vw_estoque_por_produto_v5
vw_estoque_por_produto_v6
vw_estoque_por_produto_v7
vw_formas_pagamento_front
vw_indicacoes_detalhadas
vw_opcoes_produtos
vw_opcoes_produtos_v1
vw_pdv_desejados_completo
vw_produtos_criticos
vw_produtos_ebooks
vw_ranking_clientes
vw_rupturas_ativas
vw_rupturas_historico_semanal
vw_rupturas_kpis
vw_rupturas_por_deposito
vw_rupturas_resumo_produto
vw_vendas_cliente
vw_vendas_clientes_maybe_bazipass
vw_vendas_completas
vw_vendedores

In [10]:
# Make Dataframes
sql = "SELECT * FROM vendas"
df_vendas = pd.read_sql(sql, engine)
df_vendas.head()

,id,numero,data_venda,valor_total,situacao_id,situacao_nome,cliente_id,cliente_nome,loja_id,numero_loja,...,desconto_unidade,data_saida,data_prevista,observacoes,observacoes_internas,numero_pedido_compra,data_criacao,data_atualizacao,data_etl,vendedor_id
0,23236664036,66785,2025-06-30,827.9,9,None,17040968932,Michel Cury,205233249,,...,PERCENTUAL,2025-06-30,None,,,,2025-08-03 22:07:30.954,2025-08-25 21:34:35.472743,2025-08-25 21:34:35.472743,NaN
1,23236650090,66784,2025-06-30,238.0,12,None,17394566041,Sérgio Eduardo Vieira Aragão,0,,...,PERCENTUAL,2025-06-30,None,,,,2025-08-03 22:07:30.954,2025-08-25 21:34:35.472743,2025-08-25 21:34:35.472743,NaN
2,23236515922,89352086,2025-06-30,126.0,9,None,17503605344,Larissa Costa Siqueira,0,22745,...,REAL,2025-06-30,None,,,6862dc30578b5f79544eb04a,2025-08-03 22:07:30.954,2025-08-25 21:34:35.472743,2025-08-25 21:34:35.472743,NaN
3,19238768799,21308,2023-11-30,195.0,9,None,16150872597,Etelvino Alves de Lima Neto,0,,...,REAL,2023-11-30,None,,Creditado,,2025-08-03 22:07:30.954,2025-09-03 23:21:28.874977,2025-09-03 23:21:28.874977,NaN
4,23236498926,41942896,2025-06-30,450.0,9,None,14910996268,Italo Renê Lima dos Santos,0,22744,...,REAL,2025-06-30,None,,,6862dbde578b5f79544eaf51,2025-08-03 22:07:30.954,2025-08-25 21:34:35.472743,2025-08-25 21:34:35.472743,NaN

In [11]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90802 entries, 0 to 90801
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    90802 non-null  int64
 1   numero                90802 non-null  object
 2   data_venda            90802 non-null  object
 3   valor_total           90802 non-null  float64
 4   situacao_id           90802 non-null  int64
 5   situacao_nome         0 non-null      object
 6   cliente_id            90802 non-null  int64
 7   cliente_nome          90802 non-null  object
 8   loja_id               90802 non-null  int64
 9   numero_loja           90796 non-null  object
 10  total_produtos        90802 non-null  float64
 11  outras_despesas       90802 non-null  float64
 12  desconto_valor        90802 non-null  float64
 13  desconto_unidade      90789 non-null  object
 14  data_saida            73985 non-null  object
 15  data_prevista         65 non-null     object
 16  observacoes           90789 non-null  object
 17  observacoes_internas  90789 non-null  object
 18  numero_pedido_compra  90789 non-null  object
 19  data_criacao          90802 non-null  datetime64[ns]
 20  data_atualizacao      90802 non-null  datetime64[ns]
 21  data_etl              90802 non-null  datetime64[ns]
 22  vendedor_id           14092 non-null  float64
dtypes: datetime64[ns](3), float64(5), int64(4), object(11)
memory usage: 15.9+ MB

In [15]:
df_vendas['valor_total'].describe()

count     90802.000000
mean        231.559992
std         708.485768
min          -9.000000
25%          90.000000
50%         140.000000
75%         300.000000
max      139587.500000
Name: valor_total, dtype: float64

In [3]:
# Close connection when done
cursor.close()
connection.close()
print("Connection closed.")

Connection closed.